/* this is the body setting */
body {
  font-size: 14px;
}

/* this is the navbar setting */
nav {
  background-color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
}

.example {
  padding-top: 30px;
  text-align: center;
}

/* this is the section setting */
section {
  margin: 0 auto;
  width: 60%;
}

.element {
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}

h3 {
  font-size: 1.3em;
  padding-top: 30px;
  text-align: center;
}
